@import 'components/base';
@import 'components/normalize';
@import 'components/typography';


// ******* BASIC STYLES ******
body {
	font-family: $bodyFont;
}

// ********* CENTERING STYLES WITH FLEXBOX *******
.wrapper {
	max-width: 1080px;
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

// ******* TITLE STYLES ********
h1 {
	font-size: 45px;
	font-family: $titleFont;
}

// ******** TITLE ROTATE ANIMATION AND RESPONSIVE ********
.titleRotateContainer {
  width: 450px;
  height: 100px;
  position: relative;
  perspective: 800px;
  margin: 0 auto;
  @media screen and (max-width: 500px) {
	width: 312px;
	margin: 10px 25px;
  }
}

.titleFront, .titleBack {
  position: absolute;
  height:100%;
  width:100%;
  -webkit-transition:all 0.5s;
  backface-visibility:hidden;  
}

.titleFront {
  background:transparent;
}

.titleBack {
  background: transparent;
  -webkit-transform:rotateY(180deg);
}

.titleRotateContainer:hover .titleBack, .titleRotateContainer:active {
  -webkit-transform:rotateY(0);
}

.titleRotateContainer:hover .titleFront, .titleRotateContainer:active {
  -webkit-transform:rotateY(-180deg);
}

.titleFront {
  font-size: 40px;
  padding-top: 25px;
  margin: 0 auto;
  text-align: center;
  color: black;
  display: block;
  align-content: center;
  @media screen and (max-width: 500px) {
	font-size: 35px;
  }
}

.titleBack {
  font-size: 40px;
  padding-top: 25px;
  margin: 0 auto;
  text-align: center;
  color: black;
  display: block;
  align-content: center;
  @media screen and (max-width: 500px) {
	font-size: 35px;
  }
}


// ******* INPUT TEXT BOX STYLES ******
.palindromeTextBox {
	width: 277px;
	height: 52px;
}



// ******* CHECK PALINDROME BUTTON STYLES ********
.checkPalindromeBtn {
	padding: 16px 65px;
	background: $buttonColor;
	color: #FFF;
	border: none;
	font-size: 18px;
}

.checkPalindromeBtn:hover {
	background: $hoverColor;
}

.checkPalindromeBtn:focus {
	background: $hoverColor;
}

.btnContainer {
	margin: 20px 0;
}